<script src="../assets/jquery-1.11.2.js"></script>
  <!-- body header -->
  <div id="body-container">
    <div id="faq-header">Privacy&nbsp;Policy</div>
    <div class="expand-area">
    <div id="Accord" class="accord">
		<ul>
		
			<li><a href="#">Privacy Statement Effective as of March 2015</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                            <br>Fitly, Inc. (“Fitly” or the “Company”) is committed to protecting the privacy of individuals who visit the Company’s Web sites (“Visitors”) and individuals who register to use the Services as defined below (“Customers”). This Privacy Statement describes Fitly’s privacy practices in relation to the use of the Company’s Web sites and the related applications and services offered by Fitly (the “Services”).</br>
                        </p>                                            
                    </li>
				</ul>

			</li>
            
				<ul class="sub">
					<li>                    	
                        
                        	<strong>1.	Web Sites Covered<br></strong>
							<div style="height:1px; background:#ccc;"></div>
							<p class="pl-20">
This Privacy Statement covers the information practices of Web sites that link to this Privacy Statement, including getsmartplate.com, mysmartplate.com, fitly.com, and fitly.org</p>
<strong>2.	Information Collected</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
When expressing an interest in obtaining additional information about the Services or registering to use the Services, Fitly requires you to provide the Company with personal contact information, such as name, company name, address, phone number, and email address (“Required Contact Information”). When purchasing the Services, Fitly may require you to provide the Company with financial qualification and billing information, such as billing name and address, credit card number, and the number of employees within the organization that will be using the Services (“Billing Information”). Fitly may also ask you to provide additional information, such as company annual revenues, number of employees, or industry (“Optional Information”). Required Contact Information, Billing Information, and Optional Information about Customers are referred to collectively as “Data About Fitly Customers”.
As you navigate the Company’s Web sites, Fitly may also collect information through the use of commonly-used information-gathering tools, such as cookies and Web beacons (“Web Site Navigational Information”). Web Site Navigational Information includes standard information from your Web browser (such as browser type and browser language), your Internet Protocol (“IP”) address, and the actions you take on the Company’s Web sites (such as the Web pages viewed and the links clicked).
See below regarding our policies concerning your personal health information that we may collect from you.</p>
<strong>3.	Use of Information Collected</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">The Company uses Data About Fitly Customers to perform the services requested. The Company may also use Data About Fitly Customers for marketing purposes. For example, the Company may use information you provide to contact you to further discuss your interest in the Services and to send you information regarding the Company, its affiliates, and its partners, such as information about promotions or events.
Fitly uses credit card information solely to check the financial qualifications and collect payment from prospective Customers.<br>
Fitly uses Web Site Navigational Information to operate and improve the Company’s Web sites. The Company may also use Web Site Navigational Information alone or in combination with Data About Fitly Customers to provide personalized information about the Company.</p>
<strong>4.	Web Site Navigational</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
Cookies, Web Beacons and IP Addresses:<br>
Fitly uses commonly-used information-gathering tools, such as cookies and Web beacons, to collect information as you navigate the Company’s Web sites (“Web Site Navigational Information”). This section describes the types of Web Site Navigational Information used on the Company’s Web sites and how this information may be used.
Cookies<br>
Fitly uses cookies to make interactions with the Company’s Web sites easy and meaningful. When you visit one of the Company’s Web sites, Fitly’s servers send a cookie to your computer. Standing alone, cookies do not personally identify you; they merely recognize your Web browser. Unless you choose to identify yourself to Fitly, either by responding to a promotional offer, opening an account, or filling out a Web form, you remain anonymous to the Company.
Fitly uses cookies that are session-based and persistent-based. Session cookies exist only during one session. They disappear from your computer when you close your browser software or turn off your computer. Persistent cookies remain on your computer after you close your browser or turn off your computer. Please note that if you disable your Web browser’s ability to accept cookies, you will be able to navigate the Company’s Web sites, but you will not be able to successfully use the Services.
The following sets out how Fitly uses different categories of cookies and your options for managing cookies’ settings:<br>
Type of Cookies Description Managing Settings:<br>
Required cookies enable you to navigate the Company’s Web sites and use its features, such as accessing secure areas of the Web sites and using Fitly Services.<br>
If you have chosen to identify yourself to Fitly, the Company uses cookies containing encrypted information to allow the Company to uniquely identify you. Each time you log into the Services, a cookie containing an encrypted, unique identifier that is tied to your account is placed on your browser. These cookies allow the Company to uniquely identify you when you are logged into the Services and to process your online transactions and requests.
Because required cookies are essential to operate the Company’s Web sites and the Services, there is no option to opt out of these cookies.<br>
Performance cookies:<br>
These cookies collect information about how Visitors use our Web site, including which pages visitors go to most often and if they receive error messages from certain pages. These cookies do not collect information that individually identifies a Visitor. All information these cookies collect is aggregated and anonymous. It is only used to improve how the Company’s Web site functions and performs.
From time-to-time, Fitly engages third parties to track and analyze usage and volume statistical information from individuals who visit the Company’s Web sites. Fitly may also utilize Flash cookies for these purposes.<br>
Functionality cookies:<br>
Functionality cookies allow the Company’s Web sites to remember information you have entered or choices you make (such as your username, language, or your region) and provide enhanced, more personal features. These cookies also enable you to optimize your use of Fitly’s Services after logging in. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customize.
Fitly uses local shared objects, also known as Flash cookies, to store your preferences or display content based upon what you view on our Web sites to personalize your visit.<br>
To learn how to opt out of functionality cookies using your browser settings click here. Note that opting out may impact the functionality you receive when visiting Fitly.<br>
Targeting or Advertising cookies:<br>
From time-to-time, Fitly engages third parties to track and analyze usage and volume statistical information from individuals who visit the Company’s Web sites. Fitly sometimes uses cookies delivered by third parties to track the performance of Company advertisements. For example, these cookies remember which browsers have visited the Company’s Web sites. The information provided to third parties does not include personal information, but this information may be re-associated with personal information after the Company receives it.
Fitly also contracts with third-party advertising networks that collect IP addresses and other information from Web beacons (see below) on the Company’s Web sites, from emails, and on third-party Web sites. Ad networks follow your online activities over time by collecting Web Site Navigational Information through automated means, including through the use of cookies. They use this information to provide advertisements about products and services tailored to your interests. You may see these advertisements on other Web sites. This process also helps us manage and track the effectiveness of our marketing efforts.
Third parties, with whom the Company partners to provide certain features on our Web sites or to display advertising based upon your Web browsing activity, use Flash cookies to collect and store information. Flash cookies are different from browser cookies because of the amount of, type of, and how data is stored.<br>
Web Beacons:<br>
Fitly uses Web beacons alone or in conjunction with cookies to compile information about Customers and Visitors’ usage of the Company’s Web sites and interaction with emails from the Company. Web beacons are clear electronic images that can recognize certain types of information on your computer, such as cookies, when you viewed a particular Web site tied to the Web beacon, and a description of a Web site tied to the Web beacon. For example, Fitly may place Web beacons in marketing emails that notify the Company when you click on a link in the email that directs you to one of the Company’s Web sites. Fitly uses Web beacons to operate and improve the Company’s Web sites and email communications.<br>
IP Addresses:<br>
When you visit Fitly’s Web sites, the Company collects your Internet Protocol (“IP”) addresses to track and aggregate non-personal information. For example, Fitly uses IP addresses to monitor the regions from which Customers and Visitors navigate the Company’s Web sites.<br>
Fitly also collects IP addresses from Customers whey they log into the Services as part of the Company’s security features.</p>
<strong style="line-height:auto !important;">5.	Public Forums, Refer a Friend, and Customer Testimonials</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
Fitly may provide bulletin boards, blogs, or chat rooms on the Company’s Web sites. Any personal information you choose to submit in such a forum may be read, collected, or used by others who visit these forums, and may be used to send you unsolicited messages. Fitly is not responsible for the personal information you choose to submit in these forums.
Customers and Visitors may elect to use the Company’s referral program to inform friends about the Company’s Web sites. When using the referral program, the Company requests the friend’s name and email address. Fitly will automatically send the friend a one-time email inviting him or her to visit the Company’s Web sites. Fitly does not store this information.
Fitly posts a list of Customers and testimonials on the Company’s Web sites that contain information such as Customer names and titles. Fitly obtains the consent of each Customer prior to posting any information on such a list or posting testimonials.</p>
<strong>6.	Sharing of Information Collected</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">Service Providers:<br>
Fitly may share Data About Fitly Customers with the Company’s contracted service providers so that these service providers can provide services on our behalf. Fitly may also share Data About Fitly Customers with the Company’s service providers to ensure the quality of information provided. Unless described in this Privacy Statement, Fitly does not share, sell, rent, or trade any information with third parties for their promotional purposes.
Business Partners:<br>
From time to time, Fitly may partner with other companies to jointly offer products or services. If you purchase or specifically express interest in a jointly-offered product or service from Fitly, the Company may share Data About Fitly Customers collected in connection with your purchase or expression of interest with our joint promotion partner(s). Fitly does not control our business partners’ use of the Data About Fitly Customers we collect, and their use of the information will be in accordance with their own privacy policies. If you do not wish for your information to be shared in this manner, you may opt not to purchase or specifically express interest in a jointly offered product or service.
Billing:<br>
Fitly uses a third-party service provider to manage credit card processing. This service provider is not permitted to store, retain, or use Billing Information except for the sole purpose of credit card processing on the Company’s behalf.
Compelled Disclosure:<br>
Fitly reserves the right to use or disclose information provided if required by law or if the Company reasonably believes that use or disclosure is necessary to protect the Company’s rights and/or to comply with a judicial proceeding, court order, or legal process.</p>
<strong>7.	International Transfer of Information Collected</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
To facilitate Fitly’s global operations, the Company may transfer and access Data About Fitly Customers from around the world, including the United States. This Privacy Statement shall apply even if Fitly transfers Data About Fitly to other countries.</p>
<strong>8.	Communications Preferences</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
Fitly offers Visitors and Customers who provide contact information a means to choose how the Company uses the information provided. You may manage your receipt of marketing and non-transactional communications by clicking here or by clicking on the “unsubscribe” link located on the bottom of the Company’s marketing emails. Additionally, you may send a request specifying your communications preferences to holler@fitly.com.  Customers cannot opt out of receiving transactional emails related to their account with Fitly or the Services.</p>
<strong>9.	Correcting and Updating Your Information</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
Customers may update or change their registration information by editing their user or company record. To update a user profile, please login to https://app.Fitly.com with your Fitly username and password and click “Setup.” To update Billing Information, have your email or registration information deleted, discontinue your account or have information you maintained in the Services returned to you, please email holler@fitly.com. Requests to access, change, or delete your information will be handled within 30 days.</p>
<strong>10.	Customer Data</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
Fitly Customers may electronically submit data or information to the Services for hosting and processing purposes (“Customer Data”). Fitly will not review, share, distribute, or reference any such Customer Data except as provided in the Fitly Terms of Service, or as may be required by law.
In accordance with the Fitly Terms of Service, Fitly may compile statistical and other information related to the performance, operation and use of the Services, including pricing plans, and use data from the Services in aggregated form for security and operations management, to create statistical analyses, and for research and development, marketing and promotional purposes (collectively, “Service Analyses”). Fitly may make Service Analyses publicly available, however, Service Analyses will not incorporate your Customer Data in a form that could serve to identify you or any individual.
In addition, Fitly may access Customer Data for the purpose of providing the Services, preventing or addressing service or technical problems at a Customer’s request in connection with customer support matters, or as may be required by law.</p>
<strong>11.	Personal Health Information</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">Fitly is required by law to protect the privacy of your PHI. We are also required to provide you with this notice, which explains how we may use your PHI and when we can disclose that information to others.  
PHI means any information Fitly maintains that reasonably can be used to identify you and that relates to your physical or mental health condition, the provision of health care to you, or the payment for such health care. We will comply with the requirements of applicable privacy laws related to notifying you in the event of a breach of your health information.
Except as otherwise provided herein, Fitly only collects PHI that you provide voluntarily through the Website, App, the Service or to an employee, representative or agent of Fitly or its affiliates. Some examples of times when Fitly collects PHI include when you:<br>
•	Create a user account.<br>
•	Transmit PHI through the Service.<br>
•	Provide to your health care provider and such provider inputs such information via the Service.<br>
•	Otherwise directly provide Fitly with PHI. <br>
 How does Fitly use your PHI?<br>
Fitly uses your PHI for the following purposes:<br>
•	To respond to your emails or inquiries sent to Fitly, its representatives, agents, or employees. <br>
•	To conduct a transaction that you have authorized, such as the transfer of funds in connection with a subscription to the Service.<br>
•	To provide you with information about Fitly and its products and services.<br>
•	To provide your health care provider with access to your PHI via the Service.<br>
In addition, Fitly may hire other companies to perform services on its behalf such as operating certain aspects of the Website or the Service or sending you email.  These other companies may be supplied with or have access to your PHI for the sole purpose of providing these services to Fitly or on Fitly’s behalf.  We require these companies to protect and safeguard your PHI to the same extent as we do.
How does Fitly disclose your PHI?<br>
Because we are a business associate of a number of health care providers, we are required to comply with many of the privacy and security requirements of the Health Insurance Portability and Accountability Act of 1996, as amended, (“HIPAA”).  We protect your PHI as required by HIPAA and will only disclose PHI in one of the following situations:<br><br>

•	We receive your prior authorization.  <br>
•	We are required by law to disclose the information.<br>
•	The disclosure is permitted by HIPAA.<br></p>
<strong>12.	Security</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
Fitly uses a combination of firewall barriers, data encryption techniques and authentication procedures, among others, to maintain the security of your online session and to protect your Personal Information, Account Information and our system’s security measures to protect Customer Data from unauthorized access, maintain data accuracy, and help ensure the appropriate use of Customer Data. These technologies help ensure that Customer Data is safe, secure, and only available to the Customer to whom the information belongs and those to whom the Customer has granted access. Fitly also implements an advanced security method based on dynamic data and encoded session identifications, and the Company hosts its Web sites in a secure server environment that uses firewalls, intrusion detection systems, and other advanced technology to prevent interference or access from outside intruders. Fitly also offers enhanced security features within the Services that permit Customers to configure security settings to the level they deem necessary. Customers are responsible for maintaining the security and confidentiality of their Fitly usernames and passwords.</p>
<strong>13.	Changes to this Privacy Statement</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">
Fitly reserves the right to change this Privacy Statement. Fitly will provide notification of the material changes to this Privacy Statement through the Company’s Web sites at least 30 business days prior to the change taking effect.</p>
<strong>14.	Contacting Us</strong>
<div style="height:1px; background:#ccc;"></div>
<p class="pl-20">Questions regarding this Privacy Statement or the information practices of the Company’s Web sites should be directed to Fitly Privacy by clicking here or by mailing Fitly:  ___________________.	</p>


                                                                   
                    </li>
				</ul>
			</li>
       	</div>
    </div>
    
  
    <!-- body header close --> 

   
    <!--2 column divide --> 


   
 <!--2 column divide close--> 
    

    



</body>
</html>
