  <!-- top header close --> 
  
  <!-- body header -->
  <div id="body-container">
    <div id="science-header">
    <div class="center-div">
      <div class="heading1">SmartPlate is backed by science.</div>
      <div class="heading2">SmartPlate is the world's first, patent-pending connected device that instantly tracks everything you eat by deploying advanced object recognition, weight sensors & artificial intelligence.</div>
      </div>
    </div>
    <!-- body header close --> 
    <div id="plate-overlap-section">
      <div class="palte-over-div"><img src="../assets/smart-palte.png" alt=""/></div>
      </div>

    
    <!--smart plate work-->
    <div id="science-smartplate">
      <div class="inner-block">
        <div class="col-3">
          <div class="num">1</div>
          <div class="product-img"><img src="../assets/Whole-Picture.png" alt=""/></div>
          <div class="prod-name">Get the Whole Picture</div>
          <div class="text-details">SmartPlate deploys cameras that enable advanced food recognition algorithms to deliver up to 99.9% accuracy in as little as 1 second.</div>
        </div>
        <div class="col-3">
          <div class="num">2</div>
          <div class="product-img"><img src="../assets/Instant.png" alt=""/></div>
          <div class="prod-name">Instant and Accurate</div>
          <div class="text-details">Our weight sensors can measure up to 1500 grams (that's three pounds!) of food at a time. No additional calculating necessary.</div>
        </div>
        <div class="col-3 lastmargin">
          <div class="num">3</div>
          <div class="product-img"><img src="../assets/Artificial.png" alt=""/></div>
          <div class="prod-name">Artificial Intelligence</div>
          <div class="text-details">SmartPlate uses machine learning technology and get's smarter, faster and more accurate the more <br>you "feed" it. </div>
        </div>
       
      </div>
    </div>
    <!--smart plate work close--> 
    
   
    <!--2 column divide --> 
    <div id="science-col2">
    	<div class="left-block-div"><img src="../assets/block-img01.png"  alt=""/></div>
        <div class="right-block-div">
        	<div class="center-div">
            <div class="img-div"><img src="../assets/coma.png" width="130" height="102" alt=""/></div>
            <div class="text">The first wealth is health.</div>
            <div class="last-name">Ralph Waldo Emerson</div>
          </div>
        </div>
    </div>
    <!--2 column divide close--> 
    
    
    <!-- brought for all -->
    <div id="brought-section">
      <div class="inner-div">
        <div class="heading">Brought to you by</div>
        <div class="fitly-logo"><img src="../assets/fitly-log.png"alt=""/></div>
        <div class="text-content">Fitly is a two-time Digital Health Award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.</div>
      </div>
    </div>
    <!-- brought for all close--> 
      <div id="footer-logo-section">
      <ul>
        <li><a href="#"><img src="../assets/client-logo/f_logo1.png"></a></li>
        <li><a href="#"><img src="../assets/client-logo/f_logo2.png"></a></li>
        <li><a href="#"><img src="../assets/client-logo/f_logo3.png"></a></li>
        <li><a href="#"><img src="../assets/client-logo/f_logo4.png"></a></li>
        <li><a href="#"><img src="../assets/client-logo/f_logo5.png"></a></li>
      </ul>
    </div>
    
  </div>
</div>
</body>
</html>
