
  <!-- top header close --> 
  
  <!-- body header -->
  <div id="body-container">
    <div id="header-section">
    
    	<div class="text-container">
            	<h1 class="h1">Eating smart just got a whole lot smarter.</h1>
            	<h2 class="h2">SmartPlate&#8482; is the world's first, wifi and Bluetooth&reg; device that instantly tracks what you eat.</h2>
				
            	<div class="video-btn" onclick='window.open("https://player.vimeo.com/video/126456979");return false;' style="display:none;">
            	<div class="left-btn"><img src="../assets/icons/video-icon.png" alt=""/></div>
            	<div class="right-text">WATCH THE VIDEO</div>
				
            	</div>
            	</div>
    	<div class="slide-div">
		<div class="responsive-container slide-div" style="z-index:9999; position:absolute; top:270px;">
<iframe src="https://player.vimeo.com/video/128109644" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>
</div>
		
		<img src="../assets/slide/slide1.png" alt="" style="z-index:10;"/></div>
        
    </div>
    </div>
    <!-- body header close --> 
    
    <!-- client logo close -->
    <div id="client-section">
      <ul>
        <li><a href="#"><img src="../assets/client-logo/logo1.png" alt=""/></a></li>
        <li><a href="#"><img src="../assets/client-logo/logo2.png" alt=""/></a></li>
        <li><a href="#"><img src="../assets/client-logo/logo3.png" alt=""/></a></li>
        <li><a href="#"><img src="../assets/client-logo/logo4.png" alt=""/></a></li>
      </ul>
    </div>
    <!-- client logo close --> 
    
    <!-- intro section -->
    <div id="intro-section">
      <div class="left-div"><img src="../assets/intro-left-img.png" alt=""/></div>
      <div class="center-div">
        <div class="inner-div">
          <h4>INTRODUCING SMARTPLATE</h4>
          <h1>Tracking meals has never been easier.</h1>
          <p>SmartPlate&#8482; is equipped with advanced object recognition and weight sensors which enable it to automatically identify, weigh and analyze your food intake while capturing a complete picture of all your eating habits.</p>
        </div>
      </div>
      <div class="right-div"><img src="../assets/intro-right-img.png" alt=""/></div>
    </div>
    
    <!-- intro section close --> 
    
    <!-- help section close -->
    <div id="help-section">
      <div class="palte-over-div"><img src="../assets/smart-palte.png" alt=""/></div>
      <div class="heading1">HOW IT HELPS</div>
      <div class="heading2 clear">Acheive your dietary goals faster.</div>
      <div class="col-3">
        <div class="inner-col">
          <div><img src="../assets/icons/track-icon.png" alt=""/></div>
          <div class="heading">Instantly Track</div>
          <div class="text">Connect SmartPlate&#8482; to any wireless device and instantly track your meals with no manual data entry.</div>
        </div>
        <div class="inner-col">
          <div><img src="../assets/icons/Improve-icon.png" alt=""/></div>
          <div class="heading">Improve Performance</div>
          <div class="text">SmartPlate&#8482; helps you set your pre & post workout requirements to ensure you stick with your regiment.</div>
        </div>
        <div class="inner-col">
          <div><img src="../assets/icons/Weight-icon.png" alt=""/></div>
          <div class="heading">Lose Weight</div>
          <div class="text">&#8220;Portion Patrol&#8221; instantly warns you when you over-serve, helping you stay on track and acheive your goals.</div>
        </div>
      </div>
    </div>
    <!-- help section close --> 
    
    <!-- Lunch section -->
    <div id="lunch-section"><img src="../assets/slide/lunch.png" alt=""/></div>
    <!-- lunch section close --> 
    
    <!--Connect and analyze section -->
    <div id="connect-analyze-section">
      <div class="heading">WIFI & BLUETOOTH ENABLED</div>
      <div class="heading2">Connect and analyze your meal.</div>
      <div class="div-center">
        <p>Connect your SmartPlate&#8482; to any mobile device using our free app and automatically analyze and keep track of every meal. SmartPlate&#8482; integrates seamlessly with MyFitnessPal & FitBit.</p>
        <div class="icon-div">
          <ul>
            <li><img src="../assets/icons/icon1.png" alt=""/></li>
            <li><img src="../assets/icons/icon2.png" alt=""/></li>
            <li><img src="../assets/icons/icon3.png" alt=""/></li>
            <li><img src="../assets/icons/icon4.png" alt=""/></li>
            <li><img src="../assets/icons/icon5.png" alt=""/></li>
            <li><img src="../assets/icons/icon6.png" alt=""/></li>
          </ul>
        </div>
      </div>
    </div>
    <!--Connect and analyze section close --> 
    
    <!--BALANCED NUTRITION section-->
    <div id="balanced-section">
      <div class="heading">BALANCED NUTRITION</div>
      <div class="heading2">Maintain special diets.</div>
      <div class="div-center">
        <p>SmartPlate&#8482;can help you maintain specialty diets and a healthy eating plan. You also have access to over 200 recipes and personalized meal plans that cater to a variety of dietary needs.
        
        </p>
        <div class="icon-div">
          <ul>
            <li><img src="../assets/icons/Heart-Healthy.png" alt=""/><br>
              Heart Healthy* </li>
            <li><img src="../assets/icons/Hypertension-friendly.png" alt=""/><br>
              Hypertension-friendly* </li>
            <li><img src="../assets/icons/Diabetes-friendly.png" alt=""/><br>
              Diabetes-friendly* </li>
          </ul>
        </div>
        <div class="capc-note">*SmartPlate helps you manage a healthy eating plan to maintain a healthy eating weight an balanced diet. A healthy weight and balanced diet may help living well with high blood pressure, heart disease and type 2 diabetes.</div>
      </div>
    </div>
    <!-- BALANCED NUTRITION section close --> 
    
    <!--designer-success-->
    <div id="designer-success-section">
      <div class="heading">DESIGNED FOR YOUR SUCCESS</div>
      <div class="heading2">Smart features. Smart design.</div>
      <div class="div-center">
        <div class="left-div">
          <h1>Size does matter.</h1>
          <p> SmartPlate's optimal design is the culmination of considerable research about the evolution of people's eating habits. The 10" surface area is designed to prevent "portion distortion" and help consumers develop healthful eating disciplines. </p>
        </div>
        <div class="right-div"><img src="../assets/designer-right.png" alt=""/></div>
      </div>
    </div>
    <!--designer-success close--> 
    
    <!--smart plate work-->
    <div id="smartplate-work">
      <div class="inner-container">
        <div class="col-3">
          <div class="num">1</div>
          <div class="product-img"><img src="../assets/Microwaveable-Lid.png" alt=""/></div>
          <div class="prod-name">Microwaveable Lid</div>
        </div>
        <div class="col-3">
          <div class="num">2</div>
          <div class="product-img"><img src="../assets/Refrigerator-Safe.png" alt=""/></div>
          <div class="prod-name">Refrigerator Safe</div>
        </div>
        <div class="col-3">
          <div class="num">3</div>
          <div class="product-img"><img src="../assets/Water-Resistant.png" alt=""/></div>
          <div class="prod-name">Water Resistant</div>
        </div>
        <div class="center-btn clear" onclick='window.open("../science/index");return true;'>LEARN HOW SMARTPLATE WORKS</div>
      </div>
    </div>
    <!--smart plate work close--> 
    
    <!--colours for all -->
    <div id="all-colours">
      <div class="heading">Colours for all.</div>
      <div class="center-div">
        <ul>
          <li><img src="../assets/plate-color/plate1.png" alt=""/></li>
          <li><img src="../assets/plate-color/plate2.png" alt=""/></li>
          <li><img src="../assets/plate-color/plate3.png" alt=""/></li>
          <li><img src="../assets/plate-color/plate4.png" alt=""/></li>
          <li><img src="../assets/plate-color/plate5.png" alt=""/></li>
        </ul>
      </div>
    </div>
    
    <!--colours for all close--> 
      <!-- footer logo -->
  
    
    <!-- brought for all -->
    <div id="brought-section">
      <div class="inner-div">
        <div class="heading">Brought to you by</div>
        <div class="fitly-logo"><img src="../assets/fitly-log.png"alt=""/></div>
        <div class="text-content">Fitly is a two-time Digital Health Award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.</div>
      </div>
    </div>
    <!-- brought for all close--> 
      <div id="footer-logo-section">
      <ul>
        <li><a href="https://www.sciencecenter.org/" target="_blank"><img src="../assets/client-logo/f_logo1.png"></a></li>
        <li><a href="http://benfranklin.org/" target="_blank"><img src="../assets/client-logo/f_logo2.png"></a></li>
        <li><a href="http://www.ibx.com/" target="_blank"><img src="../assets/client-logo/f_logo3.png"></a></li>
        <li><a href="http://www.pennmedicine.org/" target="_blank"><img src="../assets/client-logo/f_logo4.png"></a></li>
        <li><a href="http://dreamit.com/" target="_blank"><img src="../assets/client-logo/f_logo5.png"></a></li>
      </ul>
    </div>

  </div>
</div>
</body>
</html>
