<script src="../assets/jquery-1.11.2.js"></script>
  <!-- body header -->
  <div id="body-container">
    <div id="faq-header">Terms&nbsp;and&nbsp;Conditions</div>
    <div class="expand-area">
    <div id="Accord" class="accord">
		<ul>
		
			<li><a href="#">What is SmartPlate's return policy?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	<strong>SmartPlate 30 Day Satisfaction Guaranteed Return Policy</strong>
                            <br>If you are unsatisfied with your purchase from SmartPlate for any reason, you have 30 days from the date of purchase to request a full refund. To qualify for a refund, all the following conditions must be met: </br>
1. A Return Merchandise Authorization (RMA) must be requested from our customer service team within 30 days of your purchase date. To request an RMA, email support@fitly.com </br>
2. Returned product(s) must be in good physical condition (not physically broken or damaged). All accessories originally included with your purchase must be included with your return. </br>
3. The RMA number must be included along with your returned product. </br>
4. Additional terms and conditions: </br>
a. Products ordered in November and December can be returned through January 31 of the following year (or 30 days – whichever is longer). </br>
b. Shipping and handling charges, giftwrap fees, and taxes paid (e.g., state, customs, VAT) are not refundable. </br>
c. You are responsible for and must prepay all shipping charges and you shall assume all risk of loss or damage to the Product while in transit to SmartPlate. </br>
d. If you return Product to SmartPlate (a) without an RMA from SmartPlate or (b) without all parts included in the original package, SmartPlate retains the right to either refuse delivery of such return or charge you a restocking fee of 15% of the original price of the product or the retail value of the missing accessories, whichever is higher. </br>
e. Refunds will be processed and paid within 2 weeks of SmartPlate’s receipt of Product.</br>

                        
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">What's SmartPlate's warranty?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        <strong>One Year Limited Product Warranty</strong></br>
                        	Fitly, Inc. warrants to the original purchaser that your SmartPlate electronic device (the "Product") shall be free from defects in materials and workmanship under normal use for a period of one (1) year from the date of purchase. 
Fitly does not warrant that the operation of the Product will be uninterrupted or error-free. Fitly is not responsible for damage arising from failure to follow instructions relating to the Product's use. 
This Limited Warranty does not cover software embedded in the Product and the services provided by Fitly to owners of the Product. Refer to the license agreement accompanying the software and the Fitly services terms of use for details of your rights with respect to their use. 
Remedies 
If a hardware defect arises and a valid claim is received by Fitly within the Warranty Period, Fitly will, at its option and to the extent permitted by law, either (1) repair the Product at no charge, using new or refurbished replacement parts or (2) replace the Product with a new or refurbished Product. In the event of a defect, to the extent permitted by law, these are your sole and exclusive remedies. Shipping and handling charges may apply except where prohibited by applicable law. This Limited Warranty is valid only in the jurisdictions where the Products are sold by Fitly itself or through its authorized reseller or agent, and is valid to the extent permitted by the applicable laws of such jurisdictions. Any replacement hardware product will be warranted for the remainder of the original warranty period or thirty (30) days, whichever is longer, or for any additional period of time that may be applicable in your jurisdiction. 
How to Obtain Warranty Service 
To obtain warranty service, you must deliver the Product, in either its original packaging or packaging providing an equal degree of protection, to the address specified by Fitly. In accordance with applicable law, Fitly may require that you furnish proof of purchase details and/or comply with registration requirements before receiving warranty service. It is your responsibility to backup any data, software, or other materials you may have stored or preserved on the Product. It is likely that such data, software, or other materials will be lost or reformatted during service, and Fitly will not be responsible for any such damage or loss. 
Exclusions and Limitations 
This Limited Warranty applies only to the Product manufactured by or for Fitly that can be identified by the "SmartPlate" trademark, trade name, or logo affixed to it. The Limited Warranty does not apply to any 

(a) SmartPlate products and services other than the Product, 
(b) non-SmartPlate hardware product, 
(c) consumables (such as batteries), or 
(d) software, even if packaged or sold with the Product or embedded in the Product. 

This warranty does not apply to a Product or part of the Product that has been altered or modified (e.g., to alter functionality or capability) by anyone who is not a representative of Fitly or if the Product is inserted or installed in a casing not provided by Fitly. In addition, this Limited Warranty does not apply: (a) to damage caused by use with non-SmartPlate products; (b) to damage caused by accident, abuse, misuse, flood, fire, earthquake or other external causes; (c) to damage caused by operating the Product outside the permitted or intended uses described by Fitly or with improper voltage or power supply; or (d) to damage caused by service (including upgrades and expansions) performed by anyone who is not a representative of Fitly. Recovery and reinstallation of software programs and user data are not covered under this Limited Warranty. 
No Fitly reseller, agent, or employee is authorized to make any modification, extension, or addition to this Limited Warranty. If any term is held to be illegal or unenforceable, the legality or enforceability of the remaining terms shall not be affected or impaired. 
Implied Warranties 
EXCEPT TO THE EXTENT PROHIBITED BY APPLICABLE LAW, ALL IMPLIED WARRANTIES (INCLUDING WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE) SHALL BE LIMITED IN DURATION TO THE DURATION OF THIS LIMITED WARRANTY. Some jurisdictions do not allow limitations on the duration of an implied warranty, so the above limitation may not apply to you. 
Limitation of Damages 
EXCEPT TO THE EXTENT PROHIBITED BY APPLICABLE LAW, FITLY SHALL NOT BE LIABLE FOR ANY INCIDENTAL, INDIRECT, SPECIAL, OR CONSEQUENTIAL DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS OF PROFITS, REVENUE OR DATA, RESULTING FROM ANY BREACH OF EXPRESS OR IMPLIED WARRANTY OR CONDITION, OR UNDER ANY OTHER LEGAL THEORY, EVEN IF FITLY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. Some jurisdictions do not allow the exclusion or limitation of special, indirect, incidental or consequential damages, so the above limitation or exclusion may not apply to you. 
Governing Law 
This Limited Warranty shall be governed by the laws of the State of California, USA, without giving effect to any conflict of laws principles that may provide the application of the law of another jurisdiction. 
National Statutory Rights 
Consumers in some jurisdictions may have legal rights under applicable national legislation governing the sale of consumer goods, including, without limitation, national laws implementing EC Directive 99/44. These rights are not affected by the warranties in this Limited Warranty.

                        </p>                                            
                    </li>
				</ul>
			</li>
       	</div>
    </div>
    
    <!-- brought for all -->
    <div id="brought-section">
      <div class="inner-div">
        <div class="heading">Brought to you by</div>
        <div class="fitly-logo"><img src="../assets/fitly-log.png"alt=""/></div>
        <div class="text-content">Fitly is a two-time Digital Health Award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.</div>
      </div>
    </div>
    <!-- brought for all close--> 
    
  
    <!-- body header close --> 

   
    <!--2 column divide --> 


   
 <!--2 column divide close--> 
    

    



</body>
</html>
