  <div id="body-container">
    <div id="team-header"> Meet the team behind SmartPlate.</div>
    </div>
    <!-- body header close --> 

   
    <!--2 column divide --> 
    <div id="team-body-col">
    	<div class="left-block-div"><img src="../assets/team/anthony.jpg"  alt=""/>
        <div class="over-img"><img src="../assets/over-arrow1.png" width="46" height="100" alt=""/></div>
        <div class="over-img-top"><img src="../assets/over-arrow-top-1.png" width="100" height="46" alt=""/></div>
        </div>
        <div class="right-block-div">
        	<div class="center-div">
			 <div class="name">Anthony Ortiz </div>
            <div class="last-name">Founder + CEO</div>
            <div class="text">Experienced and successful entrepreneur who founded EcoExpress LLC, a transportation logistics company he grew to a 30 person team and then sold to EcoWay LLC within 18 months.  He has direct experience recruiting, training & managing contractor/drivers, route optimization, mapping and zoning </div>
          </div>
        </div>
    </div>


        <div id="team-body-col-row2">
    	<div class="left-block-div"><img src="../assets/team/dummy.jpg"  alt=""/>
        <div class="over-img"><img src="../assets/over-arrow2.png" width="46" height="100" alt=""/></div>
         <div class="over-img-top"><img src="../assets/over-arrow-top-2.png" width="100" height="46" alt=""/></div>
        </div>
        <div class="right-block-div">
        	<div class="center-div">   
             <div class="name">Dr. D.J. Lee, PhD, MBA </div>
            <div class="last-name">Object Recognition Officer</div>        
            <div class="text">Dr. D.J. Lee is a professor and Director of Robotic Vision Laboratory at BYU who was recently recognized for creating the smartest object recognition algorithm by yielding up to 99.4% accuracy. Dr. Lee has also written over 100 notable publications and patents on relevant subject matter </div>
          </div>
        </div>
    </div>
    
        <div id="team-body-col">
    	<div class="left-block-div"><img src="../assets/team/dummy.jpg"  alt=""/> 
        <div class="over-img"><img src="../assets/over-arrow1.png" alt=""/></div>
        <div class="over-img-top"><img src="../assets/over-arrow-top-1.png" width="100" height="46" alt=""/></div>
        </div>
       
        <div class="right-block-div">
        	<div class="center-div">
            <div class="name">Martin Dell'Arciprete</div>
            <div class="last-name">City Director</div>
            <div class="text">Experienced and visionary marketer who has worked for several fortune 250 companies across the banking, insurance and food service industries. He has worked in both the B2B and B2C space managing campaigns, while heading up the marketing efforts. Prior to joining Fitly, he worked for McDonald’s in the Philadelphia Region managing a territory of over 90 restaurants and over 200 million dollars in revenue, while driving marketing, sales and promotion efforts. </div>
          </div>
        </div>
    </div>
    
     <div id="team-body-col-row2">
    	<div class="left-block-div"><img src="../assets/team/harry.jpg"  alt=""/>
        <div class="over-img"><img src="../assets/over-arrow2.png" width="46" height="100" alt=""/></div>
        <div class="over-img-top"><img src="../assets/over-arrow-top-2.png" width="100" height="46" alt=""/></div>
        </div>
        <div class="right-block-div">
        	<div class="center-div">
            <div class="name">Harry Du</div>
            <div class="last-name">Commercial Coordinator</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus neque at ligula fermentum sollicitudin. Curabitur quis ultricies nisi, a fringilla ipsum. Proin mauris urna, vehicula sed urna ut, pellentesque cursus leo. Curabitur tincidunt ipsum vel aliquam vestibulum. </div>
          </div>
        </div>
    </div>
    
     <div id="team-body-col">
    	<div class="left-block-div"><img src="../assets/team/dummy.jpg"  alt=""/>
        <div class="over-img"><img src="../assets/over-arrow1.png" width="46" height="100" alt=""/></div>
        <div class="over-img-top"><img src="../assets/over-arrow-top-1.png" width="100" height="46" alt=""/></div>
        </div>
        <div class="right-block-div">
        	<div class="center-div">
            <div class="name">Violet Zhang</div>
            <div class="last-name">R&D Lead </div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus neque at ligula fermentum sollicitudin. Curabitur quis ultricies nisi, a fringilla ipsum. Proin mauris urna, vehicula sed urna ut, pellentesque cursus leo. Curabitur tincidunt ipsum vel aliquam vestibulum. </div>
          </div>
        </div>
    </div>
	
	<div id="team-body-col-row2">
    	<div class="left-block-div"><img src="../assets/team/namrata.jpg"  alt=""/>
        <div class="over-img"><img src="../assets/over-arrow2.png" width="46" height="100" alt=""/></div>
         <div class="over-img-top"><img src="../assets/over-arrow-top-2.png" width="100" height="46" alt=""/></div>
        </div>
        <div class="right-block-div right-block-div-namrata">
        	<div class="center-div">   
             <div class="name">Namrata Mahadev</div>
            <div class="last-name">Project Coordinator</div>        
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus neque at ligula fermentum sollicitudin. Curabitur quis ultricies nisi, a fringilla ipsum. Proin mauris urna, vehicula sed urna ut, pellentesque cursus leo. Curabitur tincidunt ipsum vel aliquam vestibulum.</div>
          </div>
        </div>
    </div>
	
	<div id="team-body-col">
    	<div class="left-block-div"><img src="../assets/team/omkar_s.jpg"  alt=""/>
        <div class="over-img"><img src="../assets/over-arrow1.png" width="46" height="100" alt=""/></div>
        <div class="over-img-top"><img src="../assets/over-arrow-top-1.png" width="100" height="46" alt=""/></div>
        </div>
        <div class="right-block-div right-block-div-omkar">
        	<div class="center-div">
            <div class="name">Omkar Kawalekar</div>
            <div class="last-name">Business Development</div>
            <div class="text">Omkar is a Doctoral candidate at the Perelman School of Medicine, working extensively on Cancer Immunotherapy under a leading researcher in the field. His publication record in scientific journals recounts his knowledge of the life sciences sector and the healthcare industry. He also brings to the table, his expertise in business strategy, business development, competitor analysis, product launch, strategic transformation, team management. When not at work, Omkar is seen on the Schuylkill drive breaking a sweat on his bike or at the gym. </div>
          </div>
        </div>
    </div>
	
	
    
    
   