<meta name="description" content="With SmartPlate, you can instantly track and analyze everything you eat. Support us on KickStarter" />
<link href="../assets/boilerplate" rel="stylesheet" type="text/css">
<link href="../assets/style.css" rel="stylesheet" type="text/css">
<link href="../assets/responsive.css" rel="stylesheet" type="text/css">
<link href="../assets/fonts-face.css" rel="stylesheet" type="text/css">
<script src="../assets/js/jquery-1.11.2.js"></script>
<script src="../assets/js/placeholders.min.js"></script>

  <!-- top header close --> 
  
  <!-- body header -->
  <div id="body-container">
    <div id="contactus-header">
    <div class="center-div">Contact Our Team</div>
    </div>
    	
        <div class="contact-container">
        	<p>If you have any questions about Smartplate and can't find answers in our FAQ or would simply like to say hello, please use one of the options below.</p>
           
           <div class="email-block">
            	<div class="mail-icon"><img src="../assets/icons/mail-icon.png" alt=""/></div>
                <div class="email">GENERAL INQUIRIES</div>
                <div class="arrow-right"><img src="../assets/icons/arrow.png" alt=""/></div>
          </div>
          
          <div class="email-block">
            	<div class="mail-icon"><img src="../assets/icons/mail-icon.png" alt=""/></div>
                <div class="email">MEDIA INQUIRIES</div>
                <div class="arrow-right"><img src="../assets/icons/arrow.png" alt=""/></div>
          </div>            
            
            <div class="mesage">SEND US A MESSAGE</div>
            <form action="#" method="post">
            <div class="query-form">
            	<div class="fname-lname"><input type="text" name="fname" placeholder="First Name" /></div>
                <div class="fname-lname"><input type="text" name="lname" placeholder="Last Name" /></div>
                <div class="fname-lname"><input type="text" name="email" placeholder="Email Address" /></div>
                <div class="fname-lname"><input type="text" name="phone" placeholder="Phone Number" /></div>
                <div class="message-box"><textarea placeholder="Message"></textarea></div>
                <div class="send-btn"><input  type="button" value="Send" /></div>
            </div>
            </form>
            
            
        </div>
    
    <!-- brought for all -->
    <div id="brought-section">
      <div class="inner-div">
        <div class="heading">Brought to you by</div>
        <div class="fitly-logo"><img src="../assets/fitly-log.png"alt=""/></div>
        <div class="text-content">Fitly is a two-time Digital Health Award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.</div>
      </div>
    </div>
    <!-- brought for all close--> 
    

    <!-- body header close --> 

   
    <!--2 column divide --> 


   
 <!--2 column divide close--> 
    
    <!-- footer section-->

  
<script type="text/javascript">
	$(document).ready(function () {
            $(".fname-lname").keypress(function () {
             $(".fname-lname > input").css("color", "#2b2b2b");
            });
        });
</script>
</body>
</html>
