<script src="../assets/jquery-1.11.2.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$('.accord ul li:has(ul)').addClass('expand').find('ul').hide();
		$('.accord ul li.expand>a').after('<span>+</span>');

		$('.accord ul').on('click', 'li.collapse span ', function (e) {
			$(this).text('+').parent().addClass('expand').removeClass('collapse').find('>ul').slideUp();
			e.stopImmediatePropagation();
		});

		$('.accord ul').on('click', 'li.expand span', function (e) {
			$(this).text('-').parent().addClass('collapse').removeClass('expand').find('>ul').slideDown();
			e.stopImmediatePropagation();
		});

		$('.accord ul').on('click', 'li.collapse li:not(.collapse)', function (e) {
			e.stopImmediatePropagation();
		});		

		$('.accord ul li:first span').text('-').parent().addClass('collapse').removeClass('expand').find('>ul').slideDown();
	});
</script>
  
  <!-- body header -->
  <div id="body-container">
    <div id="faq-header">Frequently Asked Questions.</div>
    <div class="expand-area">
    <div id="Accord" class="accord">
		<ul>
		
			<li><a href="#">Will SmartPlate make me smarter?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.<br><br>
                            
                           <!-- <strong>Subhead If Needed</strong>
                            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis, purus ut eleifend varius, justo enim vulputate ante, sed viverra ex nulla eget purus. Praesent eget maur.
                            -->
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">How accurate is SmartPlate?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">How it help me?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">Can I microwave SmartPlate?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">How do I wash my SmartPlate?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">Where can I download the app?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">Can I lose weight using SmartPlate?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">What if I want to eat soup?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">Can I use SmartPlate as a frisbee?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">Is it dishwasher safe?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">Why did the SmartPlate cross the road?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now
                        </p>                                            
                    </li>
				</ul>
			</li>
             <div style="height:1px; background:#ccc; margin-bottom:200px;"></div>
            			
		</ul>
	</div>
    </div>
    
    <!-- brought for all -->
    <div id="brought-section">
      <div class="inner-div">
        <div class="heading">Brought to you by</div>
        <div class="fitly-logo"><img src="../assets/fitly-log.png"alt=""/></div>
        <div class="text-content">Fitly is a two-time Digital Health Award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.</div>
      </div>
    </div>
    <!-- brought for all close--> 
    
  
    <!-- body header close --> 

   
    <!--2 column divide --> 


   
 <!--2 column divide close--> 
    

    



</body>
</html>
