<script src="../assets/jquery-1.11.2.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$('.accord ul li:has(ul)').addClass('expand').find('ul').hide();
		$('.accord ul li.expand>a').after('<span>+</span>');

		$('.accord ul').on('click', 'li.collapse span ', function (e) {
			$(this).text('+').parent().addClass('expand').removeClass('collapse').find('>ul').slideUp();
			e.stopImmediatePropagation();
		});

		$('.accord ul').on('click', 'li.expand span', function (e) {
			$(this).text('-').parent().addClass('collapse').removeClass('expand').find('>ul').slideDown();
			e.stopImmediatePropagation();
		});

		$('.accord ul').on('click', 'li.collapse li:not(.collapse)', function (e) {
			e.stopImmediatePropagation();
		});		

		$('.accord ul li:first span').text('-').parent().addClass('collapse').removeClass('expand').find('>ul').slideDown();
	});
</script>
  
  <!-- body header -->
  <div id="body-container">
    <div id="faq-header">Frequently Asked Questions.</div>
    <div class="expand-area">
    <div id="Accord" class="accord">
		<ul>
		
			<li><a href="#">What is SmartPlate?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	SmartPlate by Fitly is the world’s first Wi-Fi and Bluetooth-enabled device that instantly tracks and analyzes everything you eat, so you never have to enter 
							anything manually again!<br><br>
                            
                           <!-- <strong>Subhead If Needed</strong>
                            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis, purus ut eleifend varius, justo enim vulputate ante, sed viverra ex nulla eget purus. Praesent eget maur.
                            -->
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">How does it work?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	SmartPlate is equipped with 3 mini-cameras (e.g. like the ones currently used in smartphones) and uses advanced object recognition to identify everything sitting on its surface. It also comes with super accurate weight sensors which enable it to weigh up to three pounds of food at once. It then combines both the image and the weight, and sends this information to the USDA's database of over 8,000 household foods (plus another database where we host over 300,000 sku's and over 100,000 restaurant meals) for analysis. It does all this in less than a few seconds.
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">How it help me?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	SmartPlate's technology is science-backed and has been developed to help people who want or need to improve their performance, manage weight, and manage special dietary regimens
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">When will it ship?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	Summer 2016
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">Who is Fitly?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	Fitly is a two-time Digital Health award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">How does SmartPlate work with mixed foods?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	Our algorithms are currently being trained to read things like mixed salads, rice pilaf, spaggetti with sauce and meatballs. In fact, she (she's a she: ) already knows the difference between white pasta with sauce and whole wheat pasta with sauce! 
It will also get smarter over time as more people start to use it, it'll start learning the subtle nuances between more complex mixes of food.
Also, in the case where she is uncertain of what it sees, she will take an educated guess and will give you options to select from if she is incorrect This approach will help her get smarter and you will play a major role in helping us build the largest food database on the planet - for the planet.

                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">How do you clean the SmartPlate?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	SmartPlate is water resistant. It is designed with non-stick, BPA free, and heat resistant plastic that can easily be rinsed, and air dried right on its water resistant charger, which sits next to your sink. This makes it easy for you to reuse the SmartPlate each time you walk in the kitchen : )
                        </p>                                            
                    </li>
				</ul>
			</li>
            <div style="height:1px; background:#ccc;"></div>
            <li><a href="#">What if I'm eating out?</a>
				<ul class="sub">
					<li>                    	
                        <p class="pl-20">
                        	SmartPlate comes with an accompanying Android or iOS app which uses the same food recognition technology as the plate. However, it will not be as accurate as the plate due to the absence of the load sensors. This solution will be reasonably effective for anyone who eats out up to 5X per week. Just open the SmartPlate app, snap a picture of your dinner or lunch, and we'll match your meal to over 100,000 restaurant dishes currently in our database. Easy peasy!
                        </p>                                            
                    </li>
				</ul>
			</li>
             <div style="height:1px; background:#ccc; margin-bottom:200px;"></div>
            			
		</ul>
	</div>
    </div>
    
    <!-- brought for all -->
    <div id="brought-section">
      <div class="inner-div">
        <div class="heading">Brought to you by</div>
        <div class="fitly-logo"><img src="../assets/fitly-log.png"alt=""/></div>
        <div class="text-content">Fitly is a two-time Digital Health Award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.</div>
      </div>
    </div>
    <!-- brought for all close--> 
    
  
    <!-- body header close --> 

   
    <!--2 column divide --> 


   
 <!--2 column divide close--> 
    

    



</body>
</html>
