    
    <!-- footer section-->
    <div id="footer-section">
      <div class="logo-footer">
        <div class="logo"><a href="#"><img src="../../assets/footer-logo.png" border="0" alt=""/></a></div>
        <div class="links">
          <ul>
            <li><a href="#">&copy; 2015 FITLY</a></li>
            <li><a href="#"> PARTNERSHIPS</a></li>
            <li><a href="../../contactus/index">CONTACT US </a></li>
            <li><a href="#">TERMS & CONDITIONS</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
            <li><a href="#">LEGAL</a></li>
          </ul>
        </div>
        <div class="social-icons">
          <ul>
            <li><a href="#"><img src="../../assets/icons/facebook_icon.png" alt=""/></a></li>
            <li><a href="#"><img src="../../assets/icons/twitter_icon.png" alt=""/></a></li>
            <li><a href="#"><img src="../../assets/icons/instramgram_icon.png" alt=""/></a></li>
          </ul>
        </div>
      </div>
    </div>