</head>

<body>
<div id="container"> 
  <!-- top header -->
  <div id="logo-header">
    <div class="logo"><a href="../../features"><img src="../../assets/logo.png" alt=""/></a></div>
    <div id="nav">
      <ul>
        <li><a href="../../features">FEATURES</a></li>
        <li><a href="../../science"> SCIENCE</a></li>
        <li><a href="../../team">TEAM</a></li>
        <li><a href="../../faq">FAQ</a></li>
        <li><a href="../../blog">BLOG</a></li>
        <li><a href="../../shopping/account">MY ACCOUNT</a></li>
      </ul>
    </div>
    
    <div class="responsive-menu">
      <select onChange="window.location=this.value;">
   		<option value="" selected>MENU</option> 
  		<option value="../../features">Features</option>
        <option value="../../science">Science</option>
        <option value="../../team">Team</option>
        <option value="../../faq">Faq</option>
        <option value="../../blog">Blog</option>
        <option value="../../shopping/account">My Account</option>
        </select>
	</div>
     
    <div id="order-now" class="order-now2" onclick='window.open("../shopping");return false;'>
      <div class="text">PRE-ORDER NOW</div>
     
    </div>
  </div>