</head>

<body>
<div id="container"> 
  <!-- top header -->
  <div id="logo-header">
    <div class="logo"><a href="#"><img src="../assets/logo.png" alt=""/></a></div>
    <div id="nav">
      <ul>
        <li><a href="../welcome/index">FEATURES</a></li>
        <li><a href="../science/index"> SCIENCE</a></li>
        <li><a href="../team/index">TEAM</a></li>
        <li><a href="../faq/index">FAQ</a></li>
        <li><a href="../blog/index">BLOG</a></li>
        <li><a href="../blog-article.html">MY ACCOUNT</a></li>
      </ul>
    </div>
    
    <div class="responsive-menu">
      <select onChange="window.location=this.value;">
   		<option value="" selected>MENU</option> 
  		<option value="../welcome/index">Features</option>
        <option value="../science/index">Science</option>
        <option value="../team/index">Team</option>
        <option value="../faq/index">Faq</option>
        <option value="../blog/index">Blog</option>
        <option value="blog-article.html">My Account</option>
        </select>
	</div>
     
    <div id="order-now" class="order-now2" onclick='window.open("http://google.com");return false;'>
      <div class="text">PRE-ORDER NOW</div>
     
    </div>
  </div>